@import "./mixins.scss";
.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1460px;
  @include respond-to("mobile") {
    padding: 0 30px;
  }
}

.header1 {
  font-size: 1.66667rem;
  line-height: 1.26667;
}

.h2 {
  font-size: 2.44444rem;
  line-height: 1.18182;
}
