@import "../../styles/mixins.scss";

.header {
  background: #000;
  color: white;
  padding: 2.22222rem 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      gap: 1.5rem;
      font-weight: 500;
    }
    .logo {
      width: 195px;
      height: auto;
    }
  }
}
