@import "../../styles/mixins.scss";

.header {
  background: #000;
  color: white;
  padding: 2.22222rem 0;
  border-bottom: 1px solid #4a4a4a;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      gap: 2.2rem;
      font-weight: 500;
      margin: 0;
    }
    .logo {
      width: 195px;
      height: auto;
    }
    .secondaryMenu {
      margin-bottom: 1.05rem;
      color: rgba(165, 165, 165, 1);
    }
  }
}
